@import "../../assets/scss/variables.scss";

body, html {
  height: 100%;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.carousel-wrapper {
  position: relative;
  flex: 1;
  overflow: hidden; 
  text-align: center;
}

.carousel-wrapper .next-page-btn {
  position: absolute;
  right: 12.5vw;    
  bottom: 9rem;  
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: none;
  background-color: $primary-color;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
