@import './variables.scss';

body, * {
  font-family: 'Montserrat', sans-serif !important;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: $base-font;
  color: #333;
  margin: 0;
  padding: 0;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font;
}

a {
  color: #007bff;
  text-decoration: none;
}
