.ant-pagination-options-size-changer.ant-select {
    display: none;
}

.ant-table.ant-table-fixed-header ::-webkit-scrollbar {
    width: 3px;
}

.ant-table.ant-table-fixed-header ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.ant-table.ant-table-fixed-header ::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 10px;
}