.site-layout .site-layout-background {
    background: #fff;
}

.logo {
    margin: 20px 0;
}

.anticon.ant-menu-item-icon {
    font-size: 1.1rem;
}

.ant-menu.ant-menu-root {
    margin-top: 20px;
    border-top: 1px solid #1c3d5b
}

.ant-layout-header {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.button-toggle {
    background-color: transparent !important;
    color: black !important;
    border: none;
}

.ant-layout-sider-zero-width-trigger {
    top: 12px;
    color: #4C4C4C;
    font-size: 28px;
    background-color: #fff;
    border: none;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected:hover {
    background-color: #1c3d5b !important;
}

.ant-menu-dark .ant-menu-item:hover {
    background-color: #1c3d5b !important;
}

.name-user {
    margin: 0 auto;
    font-weight: bold;
}

.ant-menu-item.ant-menu-item-only-child.logout-sidebar {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: orange;
}

.ant-layout-sider-children {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .ant-layout-header {
        padding: 0;
    }

    .ant-layout-sider.sidebar {
        position: fixed;
        z-index: 1;
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected:hover {
        background-color: transparent !important;
    }

    .site-layout-background.ant-layout-content {
        min-height: 88vh;
    }
}

@media only screen and (min-width: 1600px) {
    .ant-menu-title-content {
        display: inline !important;
    }
}

@media only screen and (min-width: 768px) {
    .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-below.sidebar {
        flex: 0 0 4.3rem !important;
        max-width: 4.3rem !important;
        min-width: 4.3rem !important;
        width: 4.3rem !important;
    }

    .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-below.sidebar .logo {
        margin-left: 110px;
    }

    .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-below.ant-layout-sider-zero-width.sidebar {
        flex: 0 0 250px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        width: 250px !important;
    }

    .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-below.ant-layout-sider-zero-width.sidebar .logo {
        margin-left: 0;
    }

    .ant-menu-title-content {
        display: none;
    }

    .ant-menu-vertical .ant-menu-item {
        padding: 0 25px;
    }

    .ant-menu.ant-menu-inline-collapsed>.ant-menu-item {
        padding: 0 20px;
    }

    .ant-menu.ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon+span {
        opacity: 1;
    }
}