.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: -35px auto;
}

.logo-main {
    display: flex;
    margin: 0 auto;
}

.box-form {
    width: 50%;
    font-weight: bold;
}

.ant-btn {
    background-color: #375DC2;
    color: #fff
}

.ant-btn:disabled {
    background-color: #375DC2;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    background-color: #4d76e5;
    color: #fff;
}

.box-retrieve-password {
    color: #375DC2;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
}

.ant-btn[disabled],
.ant-btn[disabled]:hover {
    background-color: #557eed;
    color: #fff;
}

.box-retrieve-password:hover {
    color: #375DC2;
    text-decoration: underline;
}

@media only screen and (max-width: 912px) {
    .box-form {
        width: 80%;
    }
}