.footer-button Button {
    position: absolute;
    bottom: 24px;
    right: 121px;
    border: none;
}

.content-modal li {
    margin-bottom: 5px;
}

.content-modal ul {
    padding: 20px 0;
    border-top: 1px solid;
}